@model CreateUserViewModel
<div asp-validation-summary="ModelOnly">
</div>
<form method="post" asp-action="CreateUser">

    <div>
        <label asp-for="UserName"></label>
        <input asp-for="UserName" />
        <span style="        color: red;" asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span style="        color: red;" asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span style="        color: red;" asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="BirthDate"></label>
        <input asp-for="BirthDate" />
        <span style="        color: red;" asp-validation-for="BirthDate"></span>
    </div>
    <div>
        <label asp-for="Country"></label>
        <input asp-for="Country" />
        <span style="        color: red;" asp-validation-for="Country"></span>
    </div>
    <input type="submit" value="Save" />
</form>